/* Tema Alto Contraste */
body.contraste-alto {
    background-color: #000 !important;
    color: #fff !important;
}

body.contraste-alto a,
body.contraste-alto .btn,
body.contraste-alto select,
body.contraste-alto input,
body.contraste-alto textarea {
    color: #fff !important;
    background-color: #000 !important;
    border: 2px solid #fff !important;
}

body.contraste-alto .btn:hover {
    background-color: #333 !important;
}

body.contraste-alto header,
body.contraste-alto footer {
    background: #111 !important;
    color: #fff !important;
}

body.contraste-alto .flag-icon {
    border: 2px solid #fff !important;
    border-radius: 3px;
}

body.contraste-alto .card-servico,
body.contraste-alto .responsive-table tr {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

body.contraste-alto .responsive-table td::before {
    color: #ccc !important;
}

body.contraste-alto .filtros {
    background-color: #000 !important;
}

body.contraste-alto .leaflet-control,
body.contraste-alto .leaflet-popup-content-wrapper {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}
